<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>生活日志编辑</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet"/>
    <link href="/static/font-awesome/css/font-awesome.css" rel="stylesheet"/>
    <link href="/static/css/custom-styles.css" rel="stylesheet"/>
    <link rel="stylesheet" href="/static/css/wangEditor.min.css">
    <style>
        /*图片上传预览*/
        .u_pic > div {
            float: left
        }

        #preview {
            display: block;
            width: 280px;
            height: 160px;
            border: #ddd solid 1px
        }

        #preview img {
            display: block;
            width: 280px;
            height: 160px;
        }

        .cho_picbtn {
            position: relative;
        }

        @media (min-width: 1330px) {
            .cho_picbtn {
                position: relative;
                margin: 15px;
            }
        }

        @media (max-width: 1330px) {
            .cho_picbtn {
                position: relative;
                margin-top: 15px;
                margin-left: 5px;
            }
        }

        .cp_btn {
            height: 30px;
            width: 75px;
            color: #fff;
            background-color: #64ccb1;
            border: 1px solid #CDCDCD;
            border-radius: 3px
        }

        .hfile {
            position: absolute;
            top: 0;
            left: 0;
            height: 30px;
            filter: alpha(opacity:0);
            opacity: 0;
            width: 75px;
        }
        .row{
            margin-left: 0;
            margin-right: 0;
            margin-bottom: 15px;
        }
        label{
            font-size: 20px;
        }

    </style>
</head>
<body>
<div class="hmain" id="life_main">
    <!-- NAV TOP  -->
    <nav class="navbar navbar-default top-navbar row" role="navigation">
        <div class="navbar-header col-md-9 col-sm-8 col-xs-12">
            <a class="navbar-brand" href="/bm_index/"><i class="fa fa-gear"></i> <strong>若末LAN个人博客</strong></a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <!--<i class="fa fa-bars" style="font-size: 20px;color: #FFF;"></i>-->
            </button>
        </div>
        <ul class="nav nav_hr col-md-3 col-sm-4 ">
            <span>您好，admin</span>&nbsp;&nbsp;|
            <button class="btn btn-link" id="nav_outbtn" onfocus="this.blur()">退出</button>
        </ul>
    </nav>
    <!-- NAV TOP  -->
    <!--  NAV SIDE  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <!--首页-->
                <li><a href="/bm_index/"><i class="fa fa-dashboard"></i>首页</a></li>

                <li><a href="/bmad_frontn_ma/"><i class="fa fa-tasks"></i>前端笔记</a></li>
                <!--社团-->
                <li><a href="/bmad_life_log/" class="active-menu"><i class="fa fa-legal"></i>生活日志</a></li>
                <li><a href="/bmad_smalln/"><i class="fa fa-smile-o"></i>闲言碎语</a></li>
            </ul>
        </div>
    </nav>
    <!--  NAV SIDE  -->
    <!-- PAGE INNER  -->
    <div id="page-wrapper">
        <div id="page-inner">
            <div class="row">
                <h1 class="page-header">
                    &nbsp; 生活日志发表&nbsp;
                    <small style="font-size: 14px"><i class="fa fa-magnet"></i>&nbsp;&nbsp;Show up your stats</small>
                </h1>
            </div>
            <!-- /. ROW  -->

            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div style="position: fixed;top:100px;right:50px;opacity: 0.8;z-index: 10;">
                         <!--   <button type="button" id="topic_edit" class="btn btn-info btn-lg" onclick="myForm()">编辑
                            </button>
                            <button type="button" id="re_topic_edit" class="btn btn-danger btn-lg" onclick="myFormre()">
                                取消编辑
                            </button>-->
                            <button type="button" @click="save_note" class="btn btn-success btn-lg">保存提交</button>
                        </div>
                    </div>

                    <div class="panel-body">

                        <div class="row">
                            <label class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 col-sm-6 col-xs-12 control-label">文章标题：</label>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <input type="text" style="width: 30rem" v-model="title" class="form-control input-lg" placeholder="请输入文章标题">
                            </div>
                        </div>
                        <!--图片预览-->
                        <div class="form-group row">
                            <label for="u_pic" class="col-lg-offset-1 col-md-offset-1 col-lg-2 col-md-2 col-sm-6 col-xs-12 control-label">图片</label>
                            <div class="col-lg-5 col-md-6 col-sm-6 col-xs-12">
                                <div id="u_pic" class="u_pic">
                                    <div id="preview"><img src="{{obj.pic}}" alt=""/></div>
                                    <div class="cho_picbtn">
                                        <input type='button' class='cp_btn' value='选择图片'/>
                                        <input type="file" name="file" id="upload_images" class="hfile">
                                        <input type="button"  class='cp_btn' style="background-color:#dd524d" @click="upload_images_submit" value="上传图片">
                                        <p style="font-size: 12px;margin-top: 10px">支持JPG、PNG、JPEG格式，不要超过2M</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--编辑器-->
                        <div>
                            <div id="edit_lifelogs" style="min-height: 450px">

                            </div>
                        </div>
                </div>
            </div>

            <!-- /. ROW  -->
        </div>
        <footer><p>Copyright &copy; 2016.ruomolan All rights reserved.</p></footer>
        <!-- /. PAGE INNER  -->
        </div>
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>

<script src="/static/js/jquery-1.11.2.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.metisMenu.js"></script>
<script src="/static/js/custom-scripts.js"></script>
<script src="/static/js/vue2.0/vue.js"></script>
<script src="/static/js/wangEditor.js"></script>

<script src="/static/js/jquery.ui.widget.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script src="/static/js/jquery.fileupload-process.js"></script>
<script src="/static/js/jquery.fileupload-validate.js"></script>

<script>
    function myForm() {
        document.getElementById("topic_detail_form").contentEditable = true;
    }
    function myFormre() {}
    var lifelog = new Vue({
        delimiters: ['{$', '$}'],
        el: "#life_main",
        data: {
            title: "{{obj.title}}",
            lifel_htm: "{{obj.content}}",
            lifel_txt: "",
            pic_path: "{{obj.pic}}"
        },
        mounted: function () {
            var self = this;
            self.editor = new wangEditor($("#edit_lifelogs"));
            self.editor.config.uploadParams = {
                csrfmiddlewaretoken: $("input[name='csrfmiddlewaretoken']").val()
            };
            self.editor.onchange = function () {
                self.lifel_htm = self.editor.$txt.html();
                self.lifel_format = self.editor.$txt.formatText();
            };
            self.editor.config.uploadImgUrl = '/lifeupload_img';
            self.editor.config.hideLinkImg = true;
            self.editor.create();
            self.init_upload_images();
            //            编辑时将内容放到编辑器中
            self.editor.$txt.html("{{ obj.content}}");
        },
        methods: {
            init_upload_images: function () {
                var self = this;
                $("#upload_images").fileupload({
                    url: '/ifeupload_img',
                    sequentialUploads: true,
                    autoUpload: false,
                    formData: {
                        "csrfmiddlewaretoken": $("input[name='csrfmiddlewaretoken']").val(),
                        "action": "life_log"
                    },
                    add: function (e, data) {
                        var file = data;
                        self.image_obj = data;
                        var prevDiv = document.getElementById('preview');
                        if (file.files && file.files[0]) {
                            var reader = new FileReader();
                            reader.onload = function (evt) {
                                prevDiv.innerHTML = '<img src="' + evt.target.result + '" />';
                            };
                            reader.readAsDataURL(file.files[0]);
                        } else {
                            prevDiv.innerHTML = '<div class="img" style="filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\'' + file.value + '\'"></div>';
                        }
                    }
                });
            },
            upload_images_submit: function () {
                var self = this;
                if (self.image_obj != undefined) {
                    self.image_obj.submit().success(function (result, textStatus, jqXHR) {
                        var res_arr = result.split("|");
                        if (res_arr.length > 1) {
                            alert(res_arr[1])
                        } else {
                            console.log(result);
                            self.image_path = result
                        }
                    })
                }
            },
            save_note: function () {
                var self = this;
                var data = self._data;
                data["csrfmiddlewaretoken"] = $("input[name='csrfmiddlewaretoken']").val();
                $.post("/bmad_life_log/add", data, function (result) {
                    if (result) result = JSON.parse(result);
                    if (result.error) alert(result.error);
                    else window.location.href='/bmad_life_log/';
                })
            }
        }
    })
</script>
</body>
</html>
