{#<div class="col-md-12 wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">#}
{#    <span>Copyright © 若末lan博客 2016-2017 保留所有权利 . 浙ICP备13005409号</span>#}
{#    <p>#}
{#        <span>本站部分资源来源于网络，如果侵犯了您的权利，请及时和我联系，本站将在第一时间删除相关资源！</span>#}
{#    </p>#}
{#    <p>#}
{#        <span>浙公网安备 33010802002965号</span></p>#}
{#    <ul class="social_icon">#}
{#        <!--jithub-->#}
{#        <li><a href="#" class="fa fa-git"></a></li>#}
{#        <!--csdn&&&-->#}
{#        <li><a href="http://blog.csdn.net/qq_33242126" class="fa fa-facebook-square"></a></li>#}
{#        <!--简书-->#}
{#        <li><a href="#" class="fa fa-git"></a></li>#}
{#    </ul>#}
{#</div>#}