{% extends "base_with_menu.html" %}
{% block title %} 若末lan博客 &nbsp;|&nbsp; 小游戏{% endblock title %}
{% block ext_before_css %}

{% endblock ext_before_css %}
{% block ext_after_css %}
{% endblock ext_after_css %}
{% block content %}

    <!-- start 游戏列表-->
    <!-- end 游戏列表 -->
    <!-- start 小游戏 -->
    <section id="pricing" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInDown" data-wow-delay="2000">
                    <h3><a href="./h5_game.html">小游戏</a></h3>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p> 这里有很多好玩的H5小游戏，赶紧来玩吧~~</p>
                </div>
                <div class="col-md-2"></div>
                <div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="2000">
                    <div class="plan plan_one">
                        <h4 class="plan_title">
                            <p>
                                <a href="/static/game/pop_start/index.html" target="_blank">
                                    消灭星星
                                </a>
                            </p>
                        </h4>
                        <ul>
                            <li>一款使用MUI制作的经典消灭星星H5小游戏，相同颜色的方块点击可以相互抵消。</li>
                        </ul>
                        <a href="/static/game/pop_start/index.html" class="btn btn-warning" target="_blank">玩一下</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeInDown" data-wow-delay="2000">
                    <div class="plan plan_two">
                        <h4 class="plan_title">
                            <p>
                                <a href="/static/game/racing/index.html" target="_blank" title="HTML5和jQuery赛车小游戏经典js小游戏">
                                    HTML5和jQuery赛车小游戏经典js小游戏
                                </a>
                            </p>
                        </h4>
                        <ul>
                            <li>一款使用canvas制作的经典赛车小游戏。它模拟经典的任天堂赛车游戏，用户可以使用方向键来控制赛车的加速和左右移动。</li>
                        </ul>
                        <a href="/static/game/racing/index.html" target="_blank" class="btn btn-warning">玩一下</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeInDown" data-wow-delay="2000">
                    <div class="plan plan_three">
                        <h4 class="plan_title">
                            <p>
                                <a href="/static/game/pop_start/index.html" target="_blank" >
                                    消灭星星
                                </a>
                            </p>
                        </h4>
                        <ul>
                            <li>一款使用MUI制作的经典消灭星星H5小游戏，相同颜色的方块点击可以相互抵消。</li>
                        </ul>
                        <a href="/static/game/pop_start/index.html" target="_blank" class="btn btn-warning">玩一下</a>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 wow fadeInRight" data-wow-delay="2000">
                    <div class="plan plan_four">
                        <h4 class="plan_title">
                            <p>
                                <a href="/static/game/racing/index.html" target="_blank" title="HTML5和jQuery赛车小游戏经典js小游戏">
                                    HTML5和jQuery赛车小游戏经典js小游戏
                                </a>
                            </p>
                        </h4>
                        <ul>
                            <li>一款使用canvas制作的经典赛车小游戏。它模拟经典的任天堂赛车游戏，用户可以使用方向键来控制赛车的加速和左右移动。</li>
                        </ul>
                        <a href="/static/game/racing/index.html" target="_blank" class="btn btn-warning">玩一下</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end 小游戏 -->
    <!-- start 联系我 -->
    <section id="contact" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInDown" data-wow-delay="2000">
                    <h3>联系若末LAN</h3>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p>欢迎小伙伴们来看看，有什么问题赶紧联系我呀^-^</p>
                </div>
                <div class="col-md-2"></div>
                <form action="#" method="post">
                    <div class="col-md-4 wow fadeInLeft" data-wow-delay="2000">
                        <input type="text" placeholder="昵称" class="form-control" required>
                    </div>
                    <div class="col-md-4 wow fadeInDown" data-wow-delay="2000">
                        <input type="email" placeholder="邮箱" class="form-control" required>
                    </div>
                    <div class="col-md-4 wow fadeInRight" data-wow-delay="2000">
                        <input type="text" placeholder="主题" class="form-control">
                    </div>
                    <div class="col-md-12 wow fadeInDown" data-wow-delay="2000">
                        <textarea placeholder="有什么想对我说的呀~~" class="form-control"></textarea>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="2000">
                        <input type="submit" value="发送呼啦啦" class="form-control">
                    </div>
                    <div class="col-md-3"></div>
                </form>
            </div>
        </div>
        <div class="google_map">
            <div id="map-canvas"></div>
        </div>
        <footer class="container">
            <div class="col-md-12 wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
                <span>Copyright © 若末lan博客 2016-2017 保留所有权利 . 浙ICP备13005409号</span>
                <p>
                    <span>本站部分资源来源于网络，如果侵犯了您的权利，请及时和我联系，本站将在第一时间删除相关资源！</span>
                </p>
                <p>
                    <span>浙公网安备 33010802002965号</span></p>
                <ul class="social_icon">
                    <li><a href="#" class="fa fa-facebook"></a></li>
                    <li><a href="#" class="fa fa-twitter"></a></li>
                    <li><a href="#" class="fa fa-instagram"></a></li>
                    <li><a href="#" class="fa fa-apple"></a></li>
                    <li><a href="#" class="fa fa-pinterest"></a></li>
                    <li><a href="#" class="fa fa-google"></a></li>
                    <li><a href="#" class="fa fa-wordpress"></a></li>
                </ul>
            </div>
        </footer>
    </section>
    <!-- end 联系我 -->
{% endblock content %}
{% block ext_js %}
{% endblock ext_js %}