{% extends "base_with_menu.html" %}
{% block title %} 若末lan个人博客 {% endblock title %}
{% block ext_before_css %}

{% endblock ext_before_css %}
{% block ext_after_css %}
{% endblock ext_after_css %}
{% block content %}
	<!-- start home -->
	<section id="home" class="home text-center">
	  <div class="templatemo_headerimage">
		<div class="flexslider">
		  <ul class="slides">
			<li>
				<img src="/static/images/slider/1.jpg" alt="Slide 1">
				<div class="slider-caption">
					<div class="templatemo_homewrapper">
					  <h1 class="wow fadeInDown" data-wow-delay="2000">欢迎来到若末lan博客</h1>
					  <h2 class="wow fadeInDown" data-wow-delay="2000">
						<span class="rotate">我们不停的翻弄着回忆,却再也找不回那时的自己,红尘一梦，不再追寻 </span>
					</h2>
					<p>让我们一起,遨游天地之间，领略山河之美</p>
					<a href="#work" class="smoothScroll btn btn-default wow fadeInDown" data-wow-delay="2000">旅游</a>
					</div>
				</div>
			</li>
			<li>
				<img src="/static/images/slider/3.jpg" alt="Slide 2">
				<div class="slider-caption">
					<div class="templatemo_homewrapper">
					  <h1 class="wow fadeInDown" data-wow-delay="2000">前端笔记</h1>
					  <h2 class="wow fadeInDown" data-wow-delay="2000">
						<span class="rotate">HTML,CSS,JS,jQuery,Bootstrap,reactjs,Mui</span>
					</h2>
					<p>记录前端小经验，安利一下喽</p>
					<a href="#about" class="smoothScroll btn btn-default wow fadeInDown" data-wow-delay="2000">一起学习吧</a>
					</div>
				</div>
			</li>
			<li>
				<img src="/static/images/slider/2.jpg" alt="Slide 3">
				<div class="slider-caption">
					<div class="templatemo_homewrapper">
					  <h1 class="wow fadeInDown" data-wow-delay="2000">关于个人</h1>
					  <h2 class="wow fadeInDown" data-wow-delay="2000">
						<span class="rotate">非常沉默，非常骄傲,从不依靠，从不寻找。</span>
					</h2>
					<p>故事的开始总是这样，适逢其会，猝不及防。故事的结局总是这样，花开两瓣，天各一方。</p>
					<a href="#service" class="smoothScroll btn btn-default wow fadeInDown" data-wow-delay="2000">不一样的烟火</a>
					</div>
				</div>
			</li>
		  </ul>
		</div>
	  </div>
	</section>
	<!-- end home -->
	<!-- start 前端笔记 -->
	<section class="in_front" style="padding-top: 80px;padding-bottom: 30px">
		<div class="container">
			<div class="row wow fadeInDown">
			<h2 style="font-weight: bold;font-size:24px;padding-bottom: 25px">
				<a href="front_note.html">前端笔记</a>
			</h2>
		</div>
			<div class="row">
				<div class="row fn_lists">
					<div class="col-sm-6 col-md-3 wow fadeInRight" data-wow-delay="2000">
						<img src="/static/images/company-img-1.jpg" class="img-responsive fnl_img" alt="company 1">
					</div>
					<div class="col-sm-6 col-md-9 wow fadeInLeft" data-wow-delay="2000">
						<h3><a href="#">jQuery图片裁剪插件jQuery-photoClip使用案例</a></h3>
						<p class="fnl_stip">
							<span><i class="fa fa-clock-o"></i>2016-06-14</span>
							<span><i class="fa fa-eye"></i>阅读(607)</span>
							<span><a href="#"><i class="fa fa-comments-o"></i>评论(26)</a></span>
							<span><a href="#"><i class="fa fa-tags"></i>jQuery图片裁剪</a></span>
						</p>
						<p class="fnl_brief">jQuery图片裁剪插件jQuery-photoClip使用,jQuery-photoClip是一款支持移动设备触摸手势的jQuery图片裁剪插件。该图片裁剪插件在移动设备上可以使用手指来进行各种操作，如缩放、旋转等，同时在桌面设备中也提供了相应的方法来操作，是一款非常不错的图片裁剪插件。</p>
					</div>
				</div>
				<div class="row fn_lists">
					<div class="col-sm-6 col-md-3 wow fadeInRight" data-wow-delay="2000">
						<img src="/static/images/f2.jpg" class="img-responsive fnl_img" alt="company 1">
					</div>
					<div class="col-sm-6 col-md-9 wow fadeInLeft" data-wow-delay="2000">
						<h3>建站过程中关于响应式设计的一些体会</h3>
						<p class="fnl_stip">
							<span><i class="fa fa-clock-o"></i>2016-06-14</span>
							<span><i class="fa fa-eye"></i>阅读(607)</span>
							<span><a href="#"><i class="fa fa-comments-o"></i>评论(26)</a></span>
							<span><a href="#"><i class="fa fa-tags"></i>jQuery图片裁剪</a></span>
						</p>
						<p class="fnl_brief">近些年，越来越多的网站支持响应式设计，关于响应式设计，概念为：
							响应式Web设计(Responsive Web design)的理念是：页面的设计与开发应当根据用户行为以及设备环境(系统平台、屏幕尺寸、屏幕定向等)进行相应的响应和调整。具体的实践方式由多方面组成，包括弹性网格和布局、图片、CSS media query的使用等。</p>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end 前端笔记-->

	<!-- start 生活日志 -->
	<section id="team" class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow fadeInDown" data-wow-delay="900">
					<h3><a href="life_log.html">生活日志</a></h3>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<p>赚足够的钱，或许不需要那么多；去很远的地方，或许也不是很远；成为世界上最快乐的人，或许仅需要简单的幸福。
						嗯，不需要什么，快乐就好。</p>
				</div>
				<div class="col-md-2"></div>
				<div class="col-sm-6 col-md-3 wow fadeInLet" data-wow-delay="2000">
					<div class="team_thumb">
						<img src="/static/images/t3.jpg" class="img-responsive" alt="team">
							<div class="team_overlay">
								<div class="social_icon">
									<a href="#">
										泸沽湖<br>
										位于云南，风景优美
									</a>
								</div>
							</div>
					</div>
					<div class="team_description">
						<h4><a href="#">泸沽湖</a></h4>
						<h5>2016.10.15</h5>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="2000">
					<div class="team_thumb">
						<img src="/static/images/pto3.png" class="img-responsive" alt="team">
							<div class="team_overlay">
								<div class="social_icon">
									<a href="#">
										香格里拉<br>
										位于云南，风景优美
									</a>
								</div>
							</div>
					</div>
					<div class="team_description">
						<h4><a href="#">香格里拉</a></h4>
						<h5>2016.10.20</h5>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="2000">
					<div class="team_thumb">
						<img src="/static/images/t6.jpg" class="img-responsive" alt="team">
							<div class="team_overlay">
								<div class="social_icon">
									<a href="#">
										大理<br>
										位于云南，风景优美
									</a>
								</div>
							</div>
					</div>
					<div class="team_description">
						<h4><a href="#">大理</a></h4>
						<h5>2016.10.28</h5>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 wow fadeInRight" data-wow-delay="2000">
					<div class="team_thumb">
						<img src="/static/images/pto5.png" class="img-responsive" alt="team">
							<div class="team_overlay">
								<div class="social_icon">
									<a href="#">
										我就是我<br>
										颜色不一样的烟火
									</a>
								</div>
							</div>
					</div>
					<div class="team_description">
						<h4><a href="#">我就是我</a></h4>
						<h5>207.4.15</h5>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- end 生活日志-->

	<!-- start 闲言碎语-->
	<section id="service">
		<div class="container">
			<div class="row">
				<div class="text-center col-md-12 wow fadeInDown" data-wow-delay="2000">
					<h3><a href="./small_note.html">闲言碎语</a></h3>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-8 text-center">
					<p>很多事情发生了我们无法改变，那就要想办法去解决挽救，而不是在这里抱怨。
						<br>很多事情我们现在没有能力去改变，我们就要努力下去让自己变得更好，让自己能够左右自己的命运，最大程度地左右。</p>
				</div>
				<div class="col-md-2"></div>
				<div class="col-sm-6 col-md-4 wow fadeInLeft" data-wow-delay="2000">
					<div class="media">
						<i class="fa fa-cog pull-left media-object"></i>
							<div class="media-body">
								<h4 class="media-heading">2017.3.1</h4>
								<p>不要等到想要得到爱时才学会付出 人生就像一场戏，在等待中错过了美丽。正如歌中所唱：该出手时就出手。因为幸福就在你身边。当你付出时，爱以从你身边轻轻划过，留下的是悔恨、遗憾</p>
							</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-delay="2000">
					<div class="media">
						<i class="fa fa-globe pull-left media-object"></i>
							<div class="media-body">
								<h4 class="media-heading">2017.4.1</h4>
								<p>有的人一生都在等自己如意的工作，戴到白发之时方诲自己执著地等待。因为世界真的很精彩，只要你肯努力，处处都有你满意的工作。</p>
							</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 wow fadeInRight" data-wow-delay="2000">
					<div class="media">
						<i class="fa fa-desktop pull-left media-object"></i>
							<div class="media-body">
								<h4 class="media-heading">2017.4.6</h4>
								<p>我们都是这样，总要等到过了很久，总要等到退无可退，才知道我们曾亲手舍弃的东西，在后来的日子里，再也遇不到了。</p>
							</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 wow fadeInLeft" data-wow-delay="2000">
					<div class="media">
						<i class="fa fa-heart pull-left media-object"></i>
							<div class="media-body">
								<h4 class="media-heading">2017.4.20</h4>
								<p>不甘放下的，往往不是值得珍惜的，苦苦追逐的，往往不是生命需要的。</p>
							</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-delay="2000">
					<div class="media">
						<i class="fa fa-laptop pull-left media-object"></i>
							<div class="media-body">
								<h4 class="media-heading">2017.4.24</h4>
								<p>
									人生的脚步，常常走得太匆忙，所以我们要学会，停下来笑看风云，坐下来静赏花开，沉下来平静如海，定下来静观自在。</p>
							</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 wow fadeInRight" data-wow-delay="2000">
					<div class="media">
						<i class="fa fa-envelope pull-left media-object"></i>
							<div class="media-body">
								<h4 class="media-heading">2017.5.1</h4>
								<p>心境平静无澜，万物自然得映，心灵静极而定，刹那便是永恒。</p>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end 闲言碎语-->

	<!-- start 相册-->
	<section id="work" class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow fadeInDown" data-wow-delay="2000">
					<h3><a href="life_log.html">相册</a></h3>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<p>我想，我或许，可以点亮你的记忆；我想，我或许，可以温暖你的夜。。</p>
				</div>
				<div class="col-md-2"></div>
				<div class="col-sm-6 col-md-4 wow fadeInLeft" data-wow-delay="2000">
					<div class="work_thumb">
						<img src="/static/images/work-img-1.jpg" class="img-responsive" alt="work">
							<div class="work_overlay">
								<a href="#"><h3>2016.10.02</h3><p>用相机记录生活，用照片记住那时心情</p></a>
							</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 wow fadeInDown" data-wow-delay="2000">
					<div class="work_thumb">
						<img src="/static/images/work-img-2.jpg" class="img-responsive" alt="work">
							<div class="work_overlay">
								<a href="#"><h3>2016.10.22</h3><p>好好学习，天天向上</p></a>
							</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 wow fadeInRight" data-wow-delay="2000">
					<div class="work_thumb">
						<img src="/static/images/work-img-3.jpg" class="img-responsive" alt="work">
							<div class="work_overlay">
								<a href="#"><h3>2016.11.01</h3>
									<p>你是我心内的一首歌，心间开起花一朵。你是我生命的一首歌，想念汇成一条河</p>
								</a>
							</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 wow fadeInLeft" data-wow-delay="2000">
					<div class="work_thumb">
						<img src="/static/images/pto.png" class="img-responsive" alt="work">
							<div class="work_overlay">
								<a href="#">
									<h3>2016.11.10</h3>
									<p>行到水穷处，坐看云起时</p>
								</a>
							</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 wow fadeInUp" data-wow-delay="2000">
					<div class="work_thumb">
						<img src="/static/images/pto2.png" class="img-responsive" alt="work">
							<div class="work_overlay">
								<a href="#">
									<h3>2016.11.20</h3>
									<p>可爱的小猫咪</p>
								</a>
							</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-4 wow fadeInRight" data-wow-delay="2000">
					<div class="work_thumb">
						<img src="/static/images/pto1.png" class="img-responsive" alt="work">
							<div class="work_overlay">
								<a href="#">
									<h3>2017.5.02</h3>
									<p>谈一场不分手的恋爱，来一场说走就走的旅行</p>
								</a>
							</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end 相册-->

	<!-- start 小游戏 -->
	<section id="pricing" class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow fadeInDown" data-wow-delay="2000">
					<h3><a href="./h5_game.html">小游戏</a></h3>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<p> 这里有很多好玩的H5小游戏，赶紧来玩吧~~</p>
				</div>
				<div class="col-md-2"></div>
				<div class="col-sm-6 col-md-3 wow fadeInLeft" data-wow-delay="2000">
					<div class="plan plan_one">
						<h4 class="plan_title">
							<p>
								<a href="/static/game/pop_start/index.html" target="_blank">
								消灭星星
								</a>
							</p>
						</h4>
						<ul>
							<li>一款使用MUI制作的经典消灭星星H5小游戏，相同颜色的方块点击可以相互抵消。</li>
						</ul>
						<a href="/static/game/pop_start/index.html" class="btn btn-warning">玩一下</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 wow fadeInDown" data-wow-delay="2000">
					<div class="plan plan_two">
						<h4 class="plan_title">
							<p>
								<a href="/static/game/racing/index.html" target="_blank" title="HTML5和jQuery赛车小游戏经典js小游戏">
									HTML5和jQuery赛车小游戏经典js小游戏
								</a>
							</p>
						</h4>
						<ul>
							<li>一款使用canvas制作的经典赛车小游戏。它模拟经典的任天堂赛车游戏，用户可以使用方向键来控制赛车的加速和左右移动。</li>
						</ul>
						<a href="/static/game/pop_start/index.html" class="btn btn-warning">玩一下</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 wow fadeInDown" data-wow-delay="2000">
					<div class="plan plan_three">
						<h4 class="plan_title">
							<p>
								<a href="/static/game/pop_start/index.html">
									消灭星星
								</a>
							</p>
						</h4>
						<ul>
							<li>一款使用MUI制作的经典消灭星星H5小游戏，相同颜色的方块点击可以相互抵消。</li>
						</ul>
						<a href="/static/game/pop_start/index.html" class="btn btn-warning">玩一下</a>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 wow fadeInRight" data-wow-delay="2000">
					<div class="plan plan_four">
						<h4 class="plan_title">
							<p>
								<a href="/static/game/racing/index.html" target="_blank" title="HTML5和jQuery赛车小游戏经典js小游戏">
									HTML5和jQuery赛车小游戏经典js小游戏
								</a>
							</p>
						</h4>
						<ul>
							<li>一款使用canvas制作的经典赛车小游戏。它模拟经典的任天堂赛车游戏，用户可以使用方向键来控制赛车的加速和左右移动。</li>
						</ul>
						<a href="/static/game/racing/index.html" class="btn btn-warning">玩一下</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end 小游戏 -->

	<!-- start 联系我 -->
    <section id="contact" class="text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12 wow fadeInDown" data-wow-delay="2000">
                    <h3>联系若末LAN</h3>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <p>欢迎小伙伴们来看看，有什么问题赶紧联系我呀^-^</p>
                </div>
                <div class="col-md-2"></div>
                <form action="#" method="post">
                    <div class="col-md-4 wow fadeInLeft" data-wow-delay="2000">
                        <input type="text" placeholder="昵称" class="form-control" required>
                    </div>
                    <div class="col-md-4 wow fadeInDown" data-wow-delay="2000">
                        <input type="email" placeholder="邮箱" class="form-control" required>
                    </div>
                    <div class="col-md-4 wow fadeInRight" data-wow-delay="2000">
                        <input type="text" placeholder="主题" class="form-control">
                    </div>
                    <div class="col-md-12 wow fadeInDown" data-wow-delay="2000">
                        <textarea placeholder="有什么想对我说的呀~~" class="form-control"></textarea>
                    </div>
                    <div class="col-md-3"></div>
                    <div class="col-md-6 wow fadeInUp" data-wow-delay="2000">
                        <input type="submit" value="发送呼啦啦" class="form-control">
                    </div>
                    <div class="col-md-3"></div>
                </form>
            </div>
        </div>
<div class="col-md-12 wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">#}
    <span>Copyright © 若末lan博客 2016-2017 保留所有权利 . 浙ICP备13005409号</span>
    <p>
        <span>本站部分资源来源于网络，如果侵犯了您的权利，请及时和我联系，本站将在第一时间删除相关资源！</span>
    </p>
    <p>
        <span>浙公网安备 33010802002965号</span></p>
    <ul class="social_icon">
        <!--jithub-->
        <li><a href="#" class="fa fa-git"></a></li>
        <!--csdn&&&-->
        <li><a href="http://blog.csdn.net/qq_33242126" class="fa fa-facebook-square"></a></li>
        <!--简书-->
        <li><a href="#" class="fa fa-git"></a></li>
    </ul>
</div>
    </section>
	<!-- end 联系我 -->
{% endblock content %}
{% block ext_js %}
{% endblock ext_js %}