<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>若末lan博客-生活日志</title>
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="">
	<meta name="description" content="">
	<link rel="icon" type="image/png" href="images/favicon.png">
	<link rel="stylesheet" type="text/css" href="./bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="./font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="css/animate.min.css">
	<link rel="stylesheet" href="css/templatemo-style.css">
</head>
<body data-spy="scroll" data-target=".navbar-collapse">
	<!-- start header -->
	<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
		<div class="container">
			<div class="row">
				<div class="navbar-header">
					<button class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
						<span class="icon icon-bar"></span>
					</button>
					<a href="./index.html" class="navbar-brand"><h3>若末lan个人博客</h3></a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="./index.html" class="smoothScroll">首页</a></li>
						<li class="dropdown">
							<a href="#" class="smoothScroll dropdown-toggle" data-toggle="dropdown">前端笔记<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="./front_note.html">Html/CSS</a></li>
								<li><a href="./front_note.html">JS</a></li>
								<li><a href="./front_note.html">动画特效</a></li>
							</ul>
						</li>
						<li><a href="#" class="smoothScroll h_active">生活日志</a></li>
						<li><a href="./small_note.html" class="smoothScroll">闲言碎语</a></li>
						<li><a href="./message_board.html" class="smoothScroll">留言板</a></li>
						<li><a href="./h5_game.html" class="smoothScroll">小游戏</a></li>
						<li><a href="./login.html" class="smoothScroll"><i class="fa fa-gear"></i>管理</a></li>
					</ul>
				</div>
			</div>
		</div>
	</nav>
	<!-- end header -->

	<!-- start 文章列表-->
	<section  class="life_logs">
		<div class="container">
			<div class="row">
				<div class="col-sm-6 col-md-7 wow fadeInLeft" data-wow-delay="2000">
					<h3>生活日志</h3>
					<h2>白云苍狗，回忆如昨</h2>
					<p>很多事情发生了我们无法改变，那就要想办法去解决挽救，而不是在这里抱怨。
						很多事情我们现在没有能力去改变，我们就要努力下去让自己变得更好，让自己能够左右自己的命运，
						最大程度地左右。</p>
					<p>那些无法改变的，那些无法挽救的，那又怎样呢？我们唯有能够的，只是做好眼前的自己。我永远相信，追求卓越，成功会随之而来。</p>
				<p>赚足够的钱，或许不需要那么多；去很远的地方，或许也不是很远；成为世界上最快乐的人，或许仅需要简单的幸福。 嗯，不需要什么，快乐就好。</p>
				</div>
				<div class="col-sm-6 col-md-5 wow fadeInRight" data-wow-delay="2000" >
					<h3>2016.06.16</h3>
					<!--<div class="col-md-6 col-sm-6 col-xs-6" style="padding: 5px">-->
						<img src="images/pto1.png" class="img-responsive" alt="company 1">
					<!--</div>-->
					<!--<div class="col-md-6 col-sm-6 col-xs-6" style="padding: 5px">
						<img src="images/company-img-2.jpg" class="img-responsive" alt="company 2">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6" style="padding: 5px">
						<img src="images/company-img-3.jpg" class="img-responsive" alt="company 3">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6" style="padding: 5px">
						<img src="images/company-img-4.jpg" class="img-responsive" alt="company 4">
					</div>-->
				</div>
			</div>
			<div class="row" style="margin: 20px auto!important;">
				<div class="col-sm-6 col-md-5 wow fadeInRight" data-wow-delay="2000" >
					<h3>2016.8.17</h3>
					<div class="col-md-6 col-sm-6 col-xs-6" style="padding: 5px">
						<img src="images/company-img-1.jpg" class="img-responsive" alt="company 1">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6" style="padding: 5px">
						<img src="images/company-img-2.jpg" class="img-responsive" alt="company 2">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6" style="padding: 5px">
						<img src="images/company-img-3.jpg" class="img-responsive" alt="company 3">
					</div>
					<div class="col-md-6 col-sm-6 col-xs-6" style="padding: 5px">
						<img src="images/company-img-4.jpg" class="img-responsive" alt="company 4">
					</div>
				</div>
				<div class="col-sm-6 col-md-7 wow fadeInLeft" data-wow-delay="2000">
					<h2 style="padding-top: 40px">努力，让自己变得更好</h2>
					<p>嗯，人生总会遇到悲剧，也总会充满期许。很多事情发生了我们无法改变，那就要想办法去解决挽救，而不是在这里抱怨。
						很多事情我们现在没有能力去改变，我们就要努力下去让自己变得更好，让自己能够左右自己的命运，最大程度地左右。</p>
				</div>
			</div>
		</div>
	</section>
	<!-- end 文章列表 -->
	<!-- start 生活日志 -->
	<section id="team" class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow fadeInDown" data-wow-delay="900">
					<h3><a href="life_log.html">生活日志</a></h3>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<p>赚足够的钱，或许不需要那么多；去很远的地方，或许也不是很远；成为世界上最快乐的人，或许仅需要简单的幸福。
						嗯，不需要什么，快乐就好。</p>
				</div>
				<div class="col-md-2"></div>
				<div class="col-sm-6 col-md-3 wow fadeInLet" data-wow-delay="2000">
					<div class="team_thumb">
						<img src="images/t3.jpg" class="img-responsive" alt="team">
						<div class="team_overlay">
							<div class="social_icon">
								<a href="#">
									泸沽湖<br>
									位于云南，风景优美
								</a>
							</div>
						</div>
					</div>
					<div class="team_description">
						<h4><a href="#">泸沽湖</a></h4>
						<h5>2016.10.15</h5>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="2000">
					<div class="team_thumb">
						<img src="images/pto3.png" class="img-responsive" alt="team">
						<div class="team_overlay">
							<div class="social_icon">
								<a href="#">
									香格里拉<br>
									位于云南，风景优美
								</a>
							</div>
						</div>
					</div>
					<div class="team_description">
						<h4><a href="#">香格里拉</a></h4>
						<h5>2016.10.20</h5>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="2000">
					<div class="team_thumb">
						<img src="images/t6.jpg" class="img-responsive" alt="team">
						<div class="team_overlay">
							<div class="social_icon">
								<a href="#">
									大理<br>
									位于云南，风景优美
								</a>
							</div>
						</div>
					</div>
					<div class="team_description">
						<h4><a href="#">大理</a></h4>
						<h5>2016.10.28</h5>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 wow fadeInRight" data-wow-delay="2000">
					<div class="team_thumb">
						<img src="images/pto5.png" class="img-responsive" alt="team">
						<div class="team_overlay">
							<div class="social_icon">
								<a href="#">
									我就是我<br>
									颜色不一样的烟火
								</a>
							</div>
						</div>
					</div>
					<div class="team_description">
						<h4><a href="#">我就是我</a></h4>
						<h5>207.4.15</h5>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- end 生活日志-->
	<!-- start 联系我 -->
<!--	<section id="contact" class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow fadeInDown" data-wow-delay="2000">
					<h3>联系若末LAN</h3>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<p>欢迎小伙伴们来看看，有什么问题赶紧联系我呀^-^</p>
				</div>
				<div class="col-md-2"></div>
				<form action="#" method="post">
					<div class="col-md-4 wow fadeInLeft" data-wow-delay="2000">
						<input type="text" placeholder="昵称" class="form-control" required>
					</div>
					<div class="col-md-4 wow fadeInDown" data-wow-delay="2000">
						<input type="email" placeholder="邮箱" class="form-control" required>
					</div>
					<div class="col-md-4 wow fadeInRight" data-wow-delay="2000">
						<input type="text" placeholder="主题" class="form-control">
					</div>
					<div class="col-md-12 wow fadeInDown" data-wow-delay="2000">
						<textarea placeholder="有什么想对我说的呀~~" class="form-control"></textarea>
					</div>
					<div class="col-md-3"></div>
					<div class="col-md-6 wow fadeInUp" data-wow-delay="2000">
						<input type="submit" value="发送呼啦啦" class="form-control">
					</div>
					<div class="col-md-3"></div>
				</form>
			</div>
		</div>
		<div class="google_map">
			<div id="map-canvas"></div>
		</div>
		<footer class="container">
			<div class="col-md-12 wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
				<span>Copyright © 若末lan博客 2016-2017 保留所有权利 . 浙ICP备13005409号</span>
				<p>
					<span>本站部分资源来源于网络，如果侵犯了您的权利，请及时和我联系，本站将在第一时间删除相关资源！</span>
				</p>
				<p>
				<span>浙公网安备 33010802002965号</span></p>
				<ul class="social_icon">
				<li><a href="#" class="fa fa-facebook"></a></li>
					<li><a href="#" class="fa fa-twitter"></a></li>
					<li><a href="#" class="fa fa-instagram"></a></li>
					<li><a href="#" class="fa fa-apple"></a></li>
					<li><a href="#" class="fa fa-pinterest"></a></li>
					<li><a href="#" class="fa fa-google"></a></li>
					<li><a href="#" class="fa fa-wordpress"></a></li>
				</ul>
			</div>
		</footer>
	</section>-->
	<!-- end 联系我 -->

<!-- start javascript -->
<script src="js/jquery-1.11.2.min.js"></script>
<!--<script src="http://apps.bdimg.com/libs/bootstrap/3.3.4/js/bootstrap.min.js"></script>-->
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="js/jquery.simple-text-rotator.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/wow.min.js"></script>
<script src="js/jquery.flexslider.js"></script>
<script src="js/templatemo-script.js"></script>

</body>
</html>