{% extends "base_with_menu.html" %}
{% block title %} 若末lan博客&nbsp;|&nbsp;生活日志 {% endblock title %}
{% block ext_before_css %}

{% endblock ext_before_css %}
{% block ext_after_css %}
{% endblock ext_after_css %}
{% block content %}

<!-- start 文章列表-->
<div class="life_logs">
    <div class="container">
        <div class="row wow fadeInDown">
            <h2 style="font-size:24px;color: #00866e;padding-top: 20px">
                生活日志
            </h2>
        </div>
        <div class="row lfl_list">
            {% for obj in objs %}
            {% if forloop.counter|divisibleby:2 %}
            <div class="row">
                <div class="col-sm-6 col-md-7 wow fadeInLeft" data-wow-delay="2000">
                    <h3>{{obj.title}}</h3>
                    <div>{{obj.content|safe}}</div>
                </div>
                <div class="col-sm-6 col-md-5 wow fadeInRight" data-wow-delay="2000">
                    <h4>{{obj.time}}</h4>
                    <img src="{{obj.pic}}" class="img-responsive" alt="company 1">
                </div>
            </div>
            {% else %}
            <div class="row">
                <div class="col-sm-6 col-md-5 wow fadeInRight" data-wow-delay="2000">
                    <h4>{{obj.time}}</h4>
                    <img src="{{obj.pic}}" class="img-responsive" alt="company 1">
                </div>
                <div class="col-sm-6 col-md-7 wow fadeInLeft" data-wow-delay="2000">
                    <h3>{{obj.title}}</h3>
                    <div>{{obj.content|safe}}</div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>

    </div>
</div>
<!-- end 文章列表 -->

<!-- start 生活日志 -->
<section id="team" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInDown" data-wow-delay="900">
                <h3><a href="life_log.html">生活日志</a></h3>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p>赚足够的钱，或许不需要那么多；去很远的地方，或许也不是很远；成为世界上最快乐的人，或许仅需要简单的幸福。
                    嗯，不需要什么，快乐就好。</p>
            </div>
            <div class="col-md-2"></div>
            <div class="col-sm-6 col-md-3 wow fadeInLet" data-wow-delay="2000">
                <div class="team_thumb">
                    <img src="/static/images/t3.jpg" class="img-responsive" alt="team">
                    <div class="team_overlay">
                        <div class="social_icon">
                            <a href="#">
                                泸沽湖<br>
                                位于云南，风景优美
                            </a>
                        </div>
                    </div>
                </div>
                <div class="team_description">
                    <h4><a href="#">泸沽湖</a></h4>
                    <h5>2016.10.15</h5>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="2000">
                <div class="team_thumb">
                    <img src="/static/images/pto3.png" class="img-responsive" alt="team">
                    <div class="team_overlay">
                        <div class="social_icon">
                            <a href="#">
                                香格里拉<br>
                                位于云南，风景优美
                            </a>
                        </div>
                    </div>
                </div>
                <div class="team_description">
                    <h4><a href="#">香格里拉</a></h4>
                    <h5>2016.10.20</h5>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="2000">
                <div class="team_thumb">
                    <img src="/static/images/t6.jpg" class="img-responsive" alt="team">
                    <div class="team_overlay">
                        <div class="social_icon">
                            <a href="#">
                                大理<br>
                                位于云南，风景优美
                            </a>
                        </div>
                    </div>
                </div>
                <div class="team_description">
                    <h4><a href="#">大理</a></h4>
                    <h5>2016.10.28</h5>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 wow fadeInRight" data-wow-delay="2000">
                <div class="team_thumb">
                    <img src="/static/images/pto5.png" class="img-responsive" alt="team">
                    <div class="team_overlay">
                        <div class="social_icon">
                            <a href="#">
                                我就是我<br>
                                颜色不一样的烟火
                            </a>
                        </div>
                    </div>
                </div>
                <div class="team_description">
                    <h4><a href="#">我就是我</a></h4>
                    <h5>207.4.15</h5>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- end 生活日志-->
<!-- start 联系我 -->
<!--<section id="contact" class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-12 wow fadeInDown" data-wow-delay="2000">
                <h3>联系若末LAN</h3>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p>欢迎小伙伴们来看看，有什么问题赶紧联系我呀^-^</p>
            </div>
            <div class="col-md-2"></div>
            <form action="#" method="post">
                <div class="col-md-4 wow fadeInLeft" data-wow-delay="2000">
                    <input type="text" placeholder="昵称" class="form-control" required>
                </div>
                <div class="col-md-4 wow fadeInDown" data-wow-delay="2000">
                    <input type="email" placeholder="邮箱" class="form-control" required>
                </div>
                <div class="col-md-4 wow fadeInRight" data-wow-delay="2000">
                    <input type="text" placeholder="主题" class="form-control">
                </div>
                <div class="col-md-12 wow fadeInDown" data-wow-delay="2000">
                    <textarea placeholder="有什么想对我说的呀~~" class="form-control"></textarea>
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-6 wow fadeInUp" data-wow-delay="2000">
                    <input type="submit" value="发送呼啦啦" class="form-control">
                </div>
                <div class="col-md-3"></div>
            </form>
        </div>
    </div>
    <footer class="container">
        <div class="col-md-12 wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
            <span>Copyright © 若末lan博客 2016-2017 保留所有权利 . 浙ICP备13005409号</span>
            <p>
                <span>本站部分资源来源于网络，如果侵犯了您的权利，请及时和我联系，本站将在第一时间删除相关资源！</span>
            </p>
            <p>
                <span>浙公网安备 33010802002965号</span></p>
            <ul class="social_icon">
                <li><a href="#" class="fa fa-facebook"></a></li>
                <li><a href="#" class="fa fa-twitter"></a></li>
                <li><a href="#" class="fa fa-instagram"></a></li>
                <li><a href="#" class="fa fa-apple"></a></li>
                <li><a href="#" class="fa fa-pinterest"></a></li>
                <li><a href="#" class="fa fa-google"></a></li>
                <li><a href="#" class="fa fa-wordpress"></a></li>
            </ul>
        </div>
    </footer>
</section>-->
<!-- end 联系我 -->

{% endblock content %}
{% block ext_js %}
{% endblock ext_js %}