<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <title>若末lan博客-后台管理</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
<div class="container" id="login">
    <dl class="admin_login">
        <dt>
            <strong><a href="/">若末lan个人博客</a>-后台管理系统</strong>
            <em>Management System</em>
        </dt>
        <form id="submit_login" action="/login_post/" method="post">
            {% csrf_token %}
            <dd class="user_icon">
                {% csrf_token %}
                <input type="text" name="username" placeholder="账号" class="login_txtbx" required/>
            </dd>
            <dd class="pwd_icon">
                <input type="password" name="password" placeholder="密码" class="login_txtbx" required/>
            </dd>

            <dd>
                <input type="submit" value="立即登陆" class="submit_btn"/>
            </dd>
        </form>
        <dd>
            <p> 2016-2017 若末lan个人博客 版权所有</p>
            <p>浙ICP备8999899-11</p>
        </dd>
    </dl>

</div>
<script src="/static/js/jquery-1.11.2.min.js"></script>
<script src="/static/js/vue.js"></script>
<script src="/static/js/Particleground.js"></script>
<script>
    $(document).ready(function () {
        //粒子背景特效
        $('body').particleground({
            dotColor: '#5cbdaa',
            lineColor: '#5cbdaa'
        });
    });
</script>
</body>
</html>