<!DOCTYPE html>
<html lang="en" class="search">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
    <title>搜索</title>
    <link rel="shortcut icon" href="images/favicon.png" />
    <link rel="stylesheet" href="./font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.css"/>
    <link rel="stylesheet" href="assets/css/common.css"/>
</head>
<body>
<div class="container-fluid" >
    <!--导航栏-->
    <!--导航栏-->

    <!--搜索类别-->
    <div class="row search_category">
        <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-1 col-md-1 col-sm-2 col-xs-3">热点话题</div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">心理测试</div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3">校园活动</div>
    </div>

    <!--搜索框和搜索按钮-->
    <div class="row search_inbtn">
        <div class="col-md-offset-1 col-sm-offset-1 col-xs-offset-1 col-lg-6 col-md-6 col-sm-6 col-xs-8">
            <input id="search_inbtn_in" type="text" class="form-control"/>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-2">
           <button id="search_inbtn_btn"><i class="fa fa-search"></i></button>
        </div>
    </div>

        <!--搜索类容-->
        <div class="row search_mid">
        <div class="col-md-offset-1 col-sm-offset-1 col-lg-7 col-md-7 col-sm-7 col-xs-12 search_mid_left">
            <div class="row search_mid_left_rfir" >
                <h4>"<span id="search_inbtn_inval"></span>"的搜索结果</h4>
            </div>
            <!--搜索结果展示-->
            <div class="row hott_row search_row_result">
                <!--实时热点-->
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 search_img">
                        <a href="#"> <img src="./images/work-img-1.jpg" alt="FIFA年度颁奖-C罗、克罗斯等入选最佳阵容 巴萨队员缺席"/></a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 hott_rowleftr_div">
                        <h4><a href="#">FIFA年度颁奖-C罗、克罗斯等入选最佳阵容 巴萨队员缺席</a></h4>
                        <p class="hott_rowleftr_divpf">
                            <span><i class="fa fa-clock-o"></i>2016-06-14</span>
                            <span><i class="fa fa-eye"></i>阅读(607)</span>
                            <span><a href="subpages/hot_de.html#hotde_pucom"><i class="fa fa-comments-o"></i>评论(26)</a></span>
                        </p>
                        <p class="hott_rowleftr_divps">2017年1月9日，瑞士苏黎世，2016FIFA年度颁奖典礼，诺伊尔、阿尔维斯、拉莫斯、皮克、马塞洛、克罗斯、莫德里奇、伊涅斯塔、C罗、梅西、苏亚雷斯入选FIFA2016年度最佳阵容,
                            苏亚雷斯入选FIFA2016年度最佳阵容display: -webkit-box; 必须结合的属性 ，将对象作为弹性伸缩盒子模型显示 。
                            -webkit-box-orient 必须结合的属性 ，设置或检索伸缩盒对象的子元素的排列方式 。</p>
                    </div>

                </div>
                <!--心理测试-->
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hott_rowleftl_img">
                        <a href="#"> <img src="assets/images/inner/inner_lv2.jpg" alt="你会为爱做出啥疯狂的事"/></a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 hott_rowleftr_div">
                        <h4><a href="#">你会为爱做出啥疯狂的事</a></h4>
                        <p class="hott_rowleftr_divpf">
                            <span><i class="fa fa-clock-o"></i>2016-06-14</span>
                            <span><i class="fa fa-eye"></i>浏览(1869)</span>
                            <span><i class="fa fa-users"></i>测试人数(383)</span>
                        </p>
                        <p class="hott_rowleftr_divps">【导语】你会为爱做出什么疯狂的事情？为了爱我们的人，或是我们所爱的人，有时候我们会不顾一切，有些人可以为了爱情不远千里，也可以为了爱情豁出命去，而有的人为了爱情不惜背叛朋友，为了爱情抛弃亲情，甚至连最后的一点尊严都没有保留 。
                            那么，你会为爱做出什么疯狂的事情来？跟随着小编做个测试吧。</p>
                    </div>

                </div>
                <!--校园活动-->
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 hott_rowleftl_img">
                        <a href="#"> <img src="assets/images/plaza/cycle.jpg" alt="亲近自然，径山骑行游"/></a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-8 col-xs-8 hott_rowleftr_div">
                        <h4><a href="#">亲近自然，径山骑行游</a></h4>
                        <p class="hott_rowleftr_divpf">
                            <span><i class="fa fa-user"></i>李航</span>
                            <span><i class="fa fa-clock-o"></i>2016-9-6 10:00</span>
                            <span><i class="fa fa-map-marker"></i>杭州市余杭区径山</span>

                        </p>
                        <p class="hott_rowleftr_divps"><span style="color:#12b6fd">活动介绍：</span>一种健康自然的运动旅游方式 ，能充分享受旅行过程之美 。一辆单车一套骑行装备即可出行 ，简单又环保。驶过颠簸的路途 ，穿越黑暗的隧道 ，在不断而来的困难当中体验挑战，在遥远的他乡体验风情，在旅途的终点体验成功。</p>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 hott_mid_right">

            <div>
                <h4>大家都在搜</h4>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-right: 5px">
                        <a href="#"><img src="assets/images/inner/inner_arf.jpg" style="width: 100%;height: auto"/></a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="padding-left:5px;">
                        <a href="#"><img src="assets/images/inner/inners_ars.jpg" style="width: 100%;height: auto"/></a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="padding-left:10px;padding-right: 10px;padding-top: 15px">
                        <a href="#"> <img src="./images/company-img-1.jpg" style="width: 100%;height: auto"/></a>
                    </div>
                </div>
            </div>


        </div>
    </div>

    <!--页脚信息-->
    <div class="x_footer">
        <div class="footer_list">
            <ul>
                <li><a href="">网站帮助</a></li>
                <li><a href="">版权信息</a></li>
                <li><a href="">广告业务</a></li>
            </ul>
        </div>
        <p>Copyright©  吻合  2002-2016 , All  Rights  Reserved  京ICP证041501号  海淀分局备案编号 1101082227</p>
    </div>
</div>

<script src="./js/jquery-2.2.2.min.js"></script>
<script src="./bootstrap/js/bootstrap.min.js"></script>
<script>
//    搜索类别
    $(".search_category>div").click(function(e){
        $(this).addClass("sh_selected").siblings().removeClass("sh_selected");
        $(document).one("click", function(){
            $(".search_category>div").removeClass("sh_selected");
        });
        e.stopPropagation(); //阻止事件冒泡 
    });
    $(".search_inbtn").on("click", function(e){
        e.stopPropagation(); //阻止事件冒泡 
    });


    $('#search_inbtn_btn').click(function () {
        var r=$('#search_inbtn_in').val();
        $('#search_inbtn_inval').html(r);
    })

</script>
</body>
</html>