{% extends "base_with_menu.html" %}
{% block title %} 若末lan博客&nbsp;|&nbsp;闲言碎语 {% endblock title %}
{% block ext_before_css %}
{% endblock ext_before_css %}
{% block ext_after_css %}
    <style>
		ul{margin:0;padding:0;}
		.wrap{width:100%;+zoom:1;transform-origin:center top;margin:0 auto;  }
		.wrapper{width:100%;position:relative;}
		.content{
			width:100%;
			margin:0 auto;zoom:1;position:relative;}
		/*.events_sec{background:url("../images/bg_1.jpg") no-repeat center top;}*/
		/*.events_sec .content{height:auto;padding-top:136px;}*/
		.events_sec h3{
			background:url("/static/images/ic_events.png") no-repeat -40px -132px;
			width:334px;height:115px;
			margin:0 auto;
		}

		.events_list{padding-top:10px;}
		.events_list .ic_time{display:block;
			background:url("/static/images/ic_events.png") no-repeat -428px -30px;
			width:38px;height:68px;margin:0 auto;}
		.events_list .ic_arr{display:block;
			background:url("/static/images/ic_events.png") no-repeat -476px -38px;
			width:38px;height:59px;margin:0 auto;position:relative;top:-14px;}
		.events_list ul{position:relative;}
		.events_list li{position:relative;height:98px;}
		.events_list .ic_events{position:absolute;width:51px;height:98px;top:0;overflow:hidden;}
		.events_list .txt_events{font-size:16px;line-height:20px;color:#fff;
			position:absolute;  top:-12px;text-shadow:0 0 8px #1890ff;}
		.events_list .txt_events strong{display:block;font-size:22px;line-height:24px;font-weight:600;}
		.events_list .right_li{margin-left:50%;}
		.events_list .right_li .ic_events{left:-7px;background:url("/static/images/ic_events.png") repeat -396px -116px;}
		.events_list .right_li .txt_events{left:56px;}
		.events_list .left_li{text-align:right;width:50%;}
		.events_list .left_li .ic_events{right:-7px;}
		.events_list .left_li .ic_events i{position:absolute;top:0;right:0;width:51px;height:98px;
			background:url("/static/images/ic_events.png") no-repeat -460px -116px;}
		.events_list .left_li .txt_events{right:56px;}
		.events_list .ic_time{
			animation:enttime_effect 1s ease both;
			-webkit-animation:enttime_effect 1s ease both;}
		@keyframes enttime_effect{0%,18%,45%,72%{transform:translateY(0);height:32px;}
			36%{transform:translateY(-10px);height:32px;}
			54%{transform:translateY(-5px);height:32px;}
			100%{height:68px;}
		}
		@-webkit-keyframes enttime_effect{
			0%,18%,45%,72%{-webkit-transform:translateY(0);height:32px;}
			36%{-webkit-transform:translateY(-10px);height:32px;}
			54%{-webkit-transform:translateY(-5px);height:32px;}
			100%{height:68px;}
		}
		.events_list li:nth-child(1) .ic_events{animation:entic_effect .8s 1s linear both;
			-webkit-animation:entic_effect .8s 1s linear both;}
		.events_list li:nth-child(2) .ic_events{
			animation:entic_effect .8s 1.8s linear both;
			-webkit-animation:entic_effect .8s 1.8s linear both;}
		.events_list li:nth-child(3) .ic_events{
			animation:entic_effect .8s 2.6s linear both;
			-webkit-animation:entic_effect .8s 2.6s linear both;}
		.events_list li:nth-child(4) .ic_events{
			animation:entic_effect .8s 3.4s linear both;
			-webkit-animation:entic_effect .8s 3.4s linear both;}
		.events_list li:nth-child(5) .ic_events{
			animation:entic_effect .8s 4.2s linear both;
			-webkit-animation:entic_effect .8s 4.2s linear both;}
		.events_list li:nth-child(6) .ic_events{animation:entic_effect .8s 5s linear both;
			-webkit-animation:entic_effect .8s 5s linear both;}
		@keyframes entic_effect{
			0%{width:20px;height:24px;opacity:0;}
			40%{width:20px;height:24px;opacity:1;}
			100%{width:51px;height:98px;}}
		@-webkit-keyframes entic_effect{
			0%{width:20px;height:24px;opacity:0;}
			40%{width:20px;height:24px;opacity:1;}
			100%{width:51px;height:98px;}
		}
		.events_list li:nth-child(1) .txt_events{
			animation:enttxt_effect .8s 1s linear both;
			-webkit-animation:enttxt_effect .8s 1s linear both;}
		.events_list li:nth-child(2) .txt_events{
			animation:enttxt_effect .8s 1.8s linear both;
			-webkit-animation:enttxt_effect .8s 1.8s linear both;}
		.events_list li:nth-child(3) .txt_events{
			animation:enttxt_effect .8s 2.6s linear both;
			-webkit-animation:enttxt_effect .8s 2.6s linear both;}
		.events_list li:nth-child(4) .txt_events{
			animation:enttxt_effect .8s 3.4s linear both;
			-webkit-animation:enttxt_effect .8s 3.4s linear both;}
		.events_list li:nth-child(5) .txt_events{
			animation:enttxt_effect .8s 4.2s linear both;
			-webkit-animation:enttxt_effect .8s 4.2s linear both;}
		.events_list li:nth-child(6) .txt_events{
			animation:enttxt_effect .8s 5s linear both;
			-webkit-animation:enttxt_effect .8s 5s linear both;}
		.events_list li:nth-child(7) .txt_events{
			animation:enttxt_effect .8s 5.8s linear both;
			-webkit-animation:enttxt_effect .8s 5.8s linear both;}
		.events_list li:nth-child(8) .txt_events{
			animation:enttxt_effect .8s 6.6s linear both;
			-webkit-animation:enttxt_effect .8s 6.6s linear both;}
		@keyframes enttxt_effect{
			0%{transform:translateY(-10px);opacity:0;}
			100%{transform:translateY(0);opacity:1;}
		}
		@-webkit-keyframes enttxt_effect{
			0%{-webkit-transform:translateY(-10px);opacity:0;}
			100%{-webkit-transform:translateY(0);opacity:1;}
		}
		.events_list .ic_arr{
			animation:entarr_effect .6s 5.8s linear both;
			-webkit-animation:entarr_effect .6s 5.8s linear both;
		}
		@keyframes entarr_effect{0%{opacity:0;}100%{opacity:1;} }
		@-webkit-keyframes entarr_effect{0%{opacity:0;}100%{opacity:1;}}
		@media only screen and (min-width:1360px) and (max-width:1599px){
			.wrap{zoom:.9;zoom:1\9;}
		}
		@media only screen and (min-width:1024px) and (max-width:1359px){
			.wrap{zoom:.85;zoom:1\9;}
		}
		@media only screen and (max-width:1023px){
			.wrap{zoom:.8;zoom:1\9;}
		}
	</style>
{% endblock ext_after_css %}
{% block content %}

	<!-- start 碎语列表-->
	<div class="snotes">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12 wow fadeInLeft " data-wow-delay="2000">
					<h3 style="color:#10ad8f">闲言碎语</h3>
					<!--<div>-->
						<div class="wrap about_page">
							<div class="wrapper">
								<div class="events_sec">
									<div class="content">
										<div class="events_list">
											<span class="ic_time png"></span>
											<ul>
												{% for obj in objs %}
												{% if forloop.counter|divisibleby:2 %}
												<li class="right_li">
													<span class="ic_events png"></span>
													<p class="txt_events">
														<strong>{{obj.hsn_time}}</strong>
														{{obj.hsn_content}}
													 </p>
												</li>
												  {% else %}
												<li class="left_li">
													<span class="ic_events"><i class="png"></i></span>
													<p class="txt_events">
														<strong>{{obj.hsn_time}}</strong>
													{{obj.hsn_content}}
													</p>
												</li>
												{% endif %}
												{% endfor %}
											<!--	<li class="right_li">
													<span class="ic_events png"></span>
													<p class="txt_events">
														<strong>2017.3.20</strong>
														有的人一生都在等自己如意的工作，戴到白发之时方诲自己执著地等待。因为世界真的很精彩，只要你肯努力，处处都有你满意的工作。
													</p>
												</li>
												<li class="left_li">
													<span class="ic_events"><i class="png"></i></span>
													<p class="txt_events">
														<strong>2017.3.28</strong>
														我们都是这样，总要等到过了很久，总要等到退无可退，才知道我们曾亲手舍弃的东西，在后来的日子里，再也遇不到了。
													</p>
												</li>
												<li class="right_li">
													<span class="ic_events png"></span>
													<p class="txt_events">
														<strong>2017.4.12</strong>
														不甘放下的，往往不是值得珍惜的，苦苦追逐的，往往不是生命需要的。
													</p>
												</li>
												<li class="left_li">
													<span class="ic_events"><i class="png"></i></span>
													<p class="txt_events">
														<strong>2017.4.28</strong>
														人生的脚步，常常走得太匆忙，所以我们要学会，停下来笑看风云，坐下来静赏花开，沉下来平静如海，定下来静观自在。
													</p>
												</li>
												<li class="right_li">
													<span class="ic_events png"></span>
													<p class="txt_events">
														<strong>2017.4.12</strong>
														不甘放下的，往往不是值得珍惜的，苦苦追逐的，往往不是生命需要的。
													</p>
												</li>
												<li class="left_li">
													<span class="ic_events"><i class="png"></i></span>
													<p class="txt_events">
														<strong>2017.4.28</strong>
														人生的脚步，常常走得太匆忙，所以我们要学会，停下来笑看风云，坐下来静赏花开，沉下来平静如海，定下来静观自在。
													</p>
												</li>-->
											</ul>
											<span class="ic_arr png"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					<!--</div>-->
				</div>

			</div>
		</div>
	</div>
	<!-- end 碎语列表 -->
	<!-- start 联系我 -->
	<section id="contact" class="text-center">
		<div class="container">
			<div class="row">
				<div class="col-md-12 wow fadeInDown" data-wow-delay="2000">
					<h3>联系若末LAN</h3>
				</div>
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<p>欢迎小伙伴们来看看，有什么问题赶紧联系我呀^-^</p>
				</div>
				<div class="col-md-2"></div>
				<form action="#" method="post">
					<div class="col-md-4 wow fadeInLeft" data-wow-delay="2000">
						<input type="text" placeholder="昵称" class="form-control" required>
					</div>
					<div class="col-md-4 wow fadeInDown" data-wow-delay="2000">
						<input type="email" placeholder="邮箱" class="form-control" required>
					</div>
					<div class="col-md-4 wow fadeInRight" data-wow-delay="2000">
						<input type="text" placeholder="主题" class="form-control">
					</div>
					<div class="col-md-12 wow fadeInDown" data-wow-delay="2000">
						<textarea placeholder="有什么想对我说的呀~~" class="form-control"></textarea>
					</div>
					<div class="col-md-3"></div>
					<div class="col-md-6 wow fadeInUp" data-wow-delay="2000">
						<input type="submit" value="发送呼啦啦" class="form-control">
					</div>
					<div class="col-md-3"></div>
				</form>
			</div>
		</div>
		<div class="google_map">
			<div id="map-canvas"></div>
		</div>
		<footer class="container">
			<div class="col-md-12 wow fadeInUp" data-wow-duration="0.4s" data-wow-delay="0.4s">
				<span>Copyright © 若末lan博客 2016-2017 保留所有权利 . 浙ICP备13005409号</span>
				<p>
					<span>本站部分资源来源于网络，如果侵犯了您的权利，请及时和我联系，本站将在第一时间删除相关资源！</span>
				</p>
				<p>
				<span>浙公网安备 33010802002965号</span></p>
				<ul class="social_icon">
					<!--github-->
					<li><a href="https://github.com/huxialan" class="fa fa-git"></a></li>
					<!--csdn&&&-->
					<li><a href="http://blog.csdn.net/qq_33242126" class="fa fa-facebook-square"></a></li>
					<!--码云-->
					<li><a href="http://git.oschina.net/huxia123" class="fa fa-git"></a></li>
					<!--简书-->
					<li><a href="http://www.jianshu.com/u/12450ddcbd30" class="fa fa-git"></a></li>
				</ul>
			</div>
		</footer>
	</section>
	<!-- end 联系我 -->

{% endblock content %}
{% block ext_js %}
{% endblock ext_js %}